{
  "presets": [
    ["@babel/preset-env", {
      // error => Regenerator Runtime is not defined
      "useBuiltIns": "usage"
    }], 
    "@babel/preset-react"
  ],
  // for styled-components
  "plugins": ["babel-plugin-styled-components"]
}